{
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:react/recommended"],
  "rules": {
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/camelcase" : 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "react/prop-types": 0
  }
}